# Core
streamlit
numpy
pandas

# Audio Processing
librosa
soundfile
scipy

# Machine Learning & Deep Learning
scikit-learn
tensorflow-cpu
keras
h5py

# Visualization
matplotlib
seaborn

# Utilities
Pillow
fpdf
